<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista Coachs</title>

</head>
<body>
    <marquee>
        <h1> Lista de suas frases perfeitas</h1>
    </marquee>
    {% for item in listar_coachs %}
    <p><Strong> Nome do Coach:</Strong></p>
    <p><Strong> Motive-se:</Strong> </p>
    <p><Strong> A inspiração desse ser</Strong></p>
</body>
</html>