{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <title>Lista Coachs</title>

</head>
<body>
    <p><strong>{{msg}}</strong></p>
    <marquee>
        <h1 class = titulo-lista> Lista de suas frases perfeitas</h1>
    </marquee>
    {% for item in listar_coachs %}
    <!-- o for está listando cada item -->
    <p><Strong> Nome do Coach:</Strong></p>
    <p><Strong> Motive-se:</Strong> </p>
    <p><Strong> A inspiração desse ser</Strong></p>
    <a href='/coah/delete/{{item.id}}></a>
</body>
{% endblock %}